Start by defining a function called remove_rows_with_missing_ratings which removes the rows with missing values in these columns. It should take in the dataset as a pandas dataframe and return the same type.

In [4]:
ls

README.md                 airbnb-property-listings/ cleaning.ipynb

In [1]:
import pandas as pd
df = pd.read_csv("./airbnb-property-listings/tabular_data/listing.csv")

In [6]:
df.head()

,ID,Category,Title,Description,Amenities,Location,guests,beds,bathrooms,Price_Night,Cleanliness_rating,Accuracy_rating,Communication_rating,Location_rating,Check-in_rating,Value_rating,amenities_count,url,bedrooms,Unnamed: 19
0,f9dcbd09-32ac-41d9-a0b1-fdb2793378cf,Treehouses,Red Kite Tree Tent - Ynys Affalon,"['About this space', ""Escape to one of these t...","['What this place offers', 'Bathroom', 'Shampo...",Llandrindod Wells United Kingdom,2,1.0,1.0,105,4.6,4.7,4.3,5.0,4.3,4.3,13.0,https://www.airbnb.co.uk/rooms/26620994?adults...,NaN,NaN
1,1b4736a7-e73e-45bc-a9b5-d3e7fcf652fd,Treehouses,Az Alom Cabin - Treehouse Tree to Nature Cabin,"['About this space', ""Come and spend a romanti...","['What this place offers', 'Bedroom and laundr...",Guyonvelle Grand Est France,3,3.0,0.0,92,4.3,4.7,4.6,4.9,4.7,4.5,8.0,https://www.airbnb.co.uk/rooms/27055498?adults...,1,NaN
2,d577bc30-2222-4bef-a35e-a9825642aec4,Treehouses,Cabane Entre Les Pins\nüå≤üèïÔ∏èüå≤,"['About this space', 'Rustic cabin between the...","['What this place offers', 'Scenic views', 'Ga...",Duclair Normandie France,4,2.0,1.5,52,4.2,4.6,4.8,4.8,4.8,4.7,51.0,https://www.airbnb.co.uk/rooms/51427108?adults...,1,NaN
3,ca9cbfd4-7798-4e8d-8c17-d5a64fba0abc,Treehouses,Tree Top Cabin with log burner & private hot tub,"['About this space', 'The Tree top cabin is si...","['What this place offers', 'Bathroom', 'Hot wa...",Barmouth Wales United Kingdom,2,NaN,1.0,132,4.8,4.9,4.9,4.9,5.0,4.6,23.0,https://www.airbnb.co.uk/rooms/49543851?adults...,NaN,NaN
4,8b2d0f78-16d8-4559-8692-62ebce2a1302,Treehouses,Hanging cabin,"['About this space', 'Feel refreshed at this u...","['What this place offers', 'Heating and coolin...",Wargnies-le-Petit Hauts-de-France France,2,1.0,NaN,111,NaN,NaN,NaN,NaN,NaN,NaN,5.0,https://www.airbnb.co.uk/rooms/50166553?adults...,1,NaN

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 988 entries, 0 to 987
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID                    988 non-null    object
 1   Category              988 non-null    object
 2   Title                 988 non-null    object
 3   Description           900 non-null    object
 4   Amenities             988 non-null    object
 5   Location              988 non-null    object
 6   guests                969 non-null    object
 7   beds                  945 non-null    float64
 8   bathrooms             888 non-null    float64
 9   Price_Night           988 non-null    int64
 10  Cleanliness_rating    890 non-null    float64
 11  Accuracy_rating       890 non-null    float64
 12  Communication_rating  890 non-null    float64
 13  Location_rating       890 non-null    float64
 14  Check-in_rating       890 non-null    float64
 15  Value_rating          890 non-null    float64
 16  amenities_count       988 non-null    float64
 17  url                   988 non-null    object
 18  bedrooms              906 non-null    object
 19  Unnamed: 19           1 non-null      float64
dtypes: float64(10), int64(1), object(9)
memory usage: 154.5+ KB

In [3]:
df.duplicated().sum()

0

In [9]:
df.isna().sum()

ID                        0
Category                  0
Title                     0
Description              88
Amenities                 0
Location                  0
guests                   19
beds                     43
bathrooms               100
Price_Night               0
Cleanliness_rating       98
Accuracy_rating          98
Communication_rating     98
Location_rating          98
Check-in_rating          98
Value_rating             98
amenities_count           0
url                       0
bedrooms                 82
Unnamed: 19             987
dtype: int64

In [22]:
pd.set_option('display.max_rows', 20)
df[["Cleanliness_rating", "Accuracy_rating", "Communication_rating", "Location_rating", "Check-in_rating", "Value_rating"]][df['Cleanliness_rating'].isna()]

Empty DataFrame
Columns: [Cleanliness_rating, Accuracy_rating, Communication_rating, Location_rating, Check-in_rating, Value_rating]
Index: []

The cleaning is pretty simple because all the rows miss the rating at the same time.

In [19]:
df = df[df['Cleanliness_rating'].notna()]

In [23]:
df.isna().sum()

ID                        0
Category                  0
Title                     0
Description              60
Amenities                 0
Location                  0
guests                   18
beds                     34
bathrooms                79
Price_Night               0
Cleanliness_rating        0
Accuracy_rating           0
Communication_rating      0
Location_rating           0
Check-in_rating           0
Value_rating              0
amenities_count           0
url                       0
bedrooms                 76
Unnamed: 19             889
dtype: int64

In [33]:
df.dtypes

ID                       object
Category                 object
Title                    object
Description              object
Amenities                object
Location                 object
guests                   object
beds                    float64
bathrooms               float64
Price_Night               int64
Cleanliness_rating      float64
Accuracy_rating         float64
Communication_rating    float64
Location_rating         float64
Check-in_rating         float64
Value_rating            float64
amenities_count         float64
url                      object
bedrooms                 object
Unnamed: 19             float64
dtype: object

The "Description" column contains lists of strings. You'll need to define a function called combine_description_strings which combines the list items into the same string.

Unfortunately, pandas doesn't recognise the values as lists, but as strings whose contents are valid Python lists.

You should look up how to do this (don't implement a from-scratch solution to parse the string into a list). The lists contain many empty quotes which should be removed. If you don't remove them before joining the list elements with a whitespace, they might cause the result to contain multiple whitespaces in places. The function should take in the dataset as a pandas dataframe and return the same type. It should remove any records with a missing description, and also remove the "About this space" prefix which every description starts with.

The "guests", "beds", "bathrooms", and "bedrooms" columns have empty values for some rows. Don't remove them, instead, define a function called set_default_feature_values, and replace these entries with the number 1. It should take in the dataset as a pandas dataframe and return the same type.

In [150]:
#df.head()

In [157]:
# have to remove those lines without description. Modify this code.
df = df[df['Description'].isnull() == False]

In [192]:
sample = df['Description'].sample()
print(sample)
print(sample.str.replace("'About this space', ", ''))
print(sample.str.replace(" 'The space', 'The space\n", ''))
print(sample.str.replace(r'\n\n', ' '))
print(sample.str.replace(r'\n', ' '))
print(sample.str.replace("''", ""))
print(sample.apply(eval))
#print(sample)

527    ['Wonderfully rural annex providing self contained accommodation comprising open plan Living/Dining Room/Kitchen and use of indoor swimming pool by arrangement. No pets allowed.', 'The space', 'The space The Party Barn is modern yet cosy and very easy to relax in. Fully fitted kitchen, TV, WiFi its easy to stay in touch as well as switch off. The annex has a great double bedroom with en suite shower and ideal twin room with additional single bed.', 'Guest access', 'Guest access The Party Barn has a separate access to our house so you can come and go at ease with keys to your own front door. There is an indoor swimming pool that can be used by arrangement but during term time it is limited due to the operation of my swim school that runs six days a week. I am a qualified ASA swimming teacher so lessons can also be arranged for children.', 'Other things to note', 'Other things to note If you want to arrange a babysitter then we can help as well as drivers to take you out to dinner.']
Name: Description, dtype: object
527    ['Wonderfully rural annex providing self contained accommodation comprising open plan Living/Dining Room/Kitchen and use of indoor swimming pool by arrangement. No pets allowed.', 'The space', 'The space The Party Barn is modern yet cosy and very easy to relax in. Fully fitted kitchen, TV, WiFi its easy to stay in touch as well as switch off. The annex has a great double bedroom with en suite shower and ideal twin room with additional single bed.', 'Guest access', 'Guest access The Party Barn has a separate access to our house so you can come and go at ease with keys to your own front door. There is an indoor swimming pool that can be used by arrangement but during term time it is limited due to the operation of my swim school that runs six days a week. I am a qualified ASA swimming teacher so lessons can also be arranged for children.', 'Other things to note', 'Other things to note If you want to arrange a babysitter then we can help as well as drivers to take you out to dinner.']
Name: Description, dtype: object
527    ['Wonderfully rural annex providing self contained accommodation comprising open plan Living/Dining Room/Kitchen and use of indoor swimming pool by arrangement. No pets allowed.', 'The space', 'The space The Party Barn is modern yet cosy and very easy to relax in. Fully fitted kitchen, TV, WiFi its easy to stay in touch as well as switch off. The annex has a great double bedroom with en suite shower and ideal twin room with additional single bed.', 'Guest access', 'Guest access The Party Barn has a separate access to our house so you can come and go at ease with keys to your own front door. There is an indoor swimming pool that can be used by arrangement but during term time it is limited due to the operation of my swim school that runs six days a week. I am a qualified ASA swimming teacher so lessons can also be arranged for children.', 'Other things to note', 'Other things to note If you want to arrange a babysitter then we can help as well as drivers to take you out to dinner.']
Name: Description, dtype: object
527    ['Wonderfully rural annex providing self contained accommodation comprising open plan Living/Dining Room/Kitchen and use of indoor swimming pool by arrangement. No pets allowed.', 'The space', 'The space The Party Barn is modern yet cosy and very easy to relax in. Fully fitted kitchen, TV, WiFi its easy to stay in touch as well as switch off. The annex has a great double bedroom with en suite shower and ideal twin room with additional single bed.', 'Guest access', 'Guest access The Party Barn has a separate access to our house so you can come and go at ease with keys to your own front door. There is an indoor swimming pool that can be used by arrangement but during term time it is limited due to the operation of my swim school that runs six days a week. I am a qualified ASA swimming teacher so lessons can also be arranged for children.', 'Other things to note', 'Other things to note If you want to arrange a babysitter then we can help as well as drivers to take you out to dinner.']
Name: Description, dtype: object
527    ['Wonderfully rural annex providing self contained accommodation comprising open plan Living/Dining Room/Kitchen and use of indoor swimming pool by arrangement. No pets allowed.', 'The space', 'The space The Party Barn is modern yet cosy and very easy to relax in. Fully fitted kitchen, TV, WiFi its easy to stay in touch as well as switch off. The annex has a great double bedroom with en suite shower and ideal twin room with additional single bed.', 'Guest access', 'Guest access The Party Barn has a separate access to our house so you can come and go at ease with keys to your own front door. There is an indoor swimming pool that can be used by arrangement but during term time it is limited due to the operation of my swim school that runs six days a week. I am a qualified ASA swimming teacher so lessons can also be arranged for children.', 'Other things to note', 'Other things to note If you want to arrange a babysitter then we can help as well as drivers to take you out to dinner.']
Name: Description, dtype: object
527    ['Wonderfully rural annex providing self contained accommodation comprising open plan Living/Dining Room/Kitchen and use of indoor swimming pool by arrangement. No pets allowed.', 'The space', 'The space The Party Barn is modern yet cosy and very easy to relax in. Fully fitted kitchen, TV, WiFi its easy to stay in touch as well as switch off. The annex has a great double bedroom with en suite shower and ideal twin room with additional single bed.', 'Guest access', 'Guest access The Party Barn has a separate access to our house so you can come and go at ease with keys to your own front door. There is an indoor swimming pool that can be used by arrangement but during term time it is limited due to the operation of my swim school that runs six days a week. I am a qualified ASA swimming teacher so lessons can also be arranged for children.', 'Other things to note', 'Other things to note If you want to arrange a babysitter then we can help as well as drivers to take you out to dinner.']
Name: Description, dtype: object
527    [Wonderfully rural annex providing self contained accommodation comprising open plan Living/Dining Room/Kitchen and use of indoor swimming pool by arrangement. No pets allowed., The space, The space The Party Barn is modern yet cosy and very easy to relax in. Fully fitted kitchen, TV, WiFi its easy to stay in touch as well as switch off. The annex has a great double bedroom with en suite shower and ideal twin room with additional single bed., Guest access, Guest access The Party Barn has a separate access to our house so you can come and go at ease with keys to your own front door. There is an indoor swimming pool that can be used by arrangement but during term time it is limited due to the operation of my swim school that runs six days a week. I am a qualified ASA swimming teacher so lessons can also be arranged for children., Other things to note, Other things to note If you want to arrange a babysitter then we can help as well as drivers to take you out to dinner.]
Name: Description, dtype: object

In [ ]:
df = pd.read_csv("./airbnb-property-listings/tabular_data/listing.csv")

def combine_description_strings(df):
    df = df[~df['Description'].isnull() == True]
    df['Description'] = df['Description'].str.replace("'About this space', '')
    df['Description'] = df['Description'].str.replace("''", '')
    df['Description'] = df['Description'].apply(eval)
    df['Description'] = df['Description'].apply(lambda x: ' '.join(x))
    return df

df2 = combine_description_strings(df)

In [198]:
df = pd.read_csv("./airbnb-property-listings/tabular_data/listing.csv")

def combine_description_strings(df):
    df['Description'] = df['Description'].str.replace("'About this space', ", '')
    df['Description'] = df['Description'].str.replace(" 'The space', 'The space\n", '')
    df['Description'] = df['Description'].str.replace(r'\n\n', ' ')
    df['Description'] = df['Description'].str.replace(r'\n', ' ')
    df['Description'] = df['Description'].replace("''", "")
    return df

sample = combine_description_strings(df.sample())
sample

,ID,Category,Title,Description,Amenities,Location,guests,beds,bathrooms,Price_Night,Cleanliness_rating,Accuracy_rating,Communication_rating,Location_rating,Check-in_rating,Value_rating,amenities_count,url,bedrooms,Unnamed: 19
519,26e39a4f-4861-49a6-8982-69774d519923,Amazing pools,Squirrel‚Äôs Den,"['Lovely bedroom suite, beautifully fitted out with nespresso coffee machine, artisan teas and fridge with yoghurt, jam, fruit compote and milk, homemade granola and sourdough bread and toaster. Lovely cosy seating area and rural views. Comfortable bed with luxurious sheets. We are located in the countryside and have beautiful walks to the river Thames and lovely country pubs with roaring fires and good food on our doorstep.', 'The space', 'The space Lovely bedroom suite. Access to large indoor pool on request although not always available.', 'Other things to note', 'Other things to note Guests must call before arriving for access to the property. Not brilliant phone reception but access to WiFi.']","['What this place offers', 'Bathroom', 'Hair dryer', 'Shampoo', 'Hot water', 'Bedroom and laundry', 'Essentials', 'Towels, bed sheets, soap and toilet paper', 'Hangers', 'Iron', 'Entertainment', 'TV', 'Heating and cooling', 'Heating', 'Home safety', 'Smoke alarm', 'Carbon monoxide alarm', 'Fire extinguisher', 'Internet and office', 'Wifi', 'Dedicated workspace', 'A desk or table with a chair and space for a laptop.', 'Kitchen and dining', 'Refrigerator', 'Location features', 'Private entrance', 'Separate street or building entrance', 'Parking and facilities', 'Free parking on premises', 'Private pool', 'Services', 'Breakfast', 'Breakfast is provided', 'Not included', 'Unavailable: Security cameras on property\nSecurity cameras on property', 'Unavailable: Kitchen\nKitchen', 'Unavailable: Washing machine\nWashing machine', 'Unavailable: Air conditioning\nAir conditioning']",Longworth Oxfordshire United Kingdom,2,1.0,1.0,120,4.8,4.9,4.6,4.8,4.7,4.6,18.0,https://www.airbnb.co.uk/rooms/32119804?adults=1&category_tag=Tag%3A677&children=0&infants=0&search_mode=flex_destinations_search&check_in=2022-03-18&check_out=2022-03-25&previous_page_section_name=1000&federated_search_id=0b044c1c-8d17-4b03-bffb-5de13ff710bc,1,NaN

In [195]:
# Your original text
original_text = '["Escape to one of these two fabulous Tree Tents... very patchy mobile signal and limited internet connectivity.\']'

# Clean and transform the text
cleaned_text = eval(original_text)  # This will convert the text into a list
cleaned_text = '\n'.join(cleaned_text)  # Join the list elements into a single string

# Now, 'cleaned_text' contains the transformed text as a string
print(cleaned_text)

SyntaxError: unterminated string literal (detected at line 1) (<string>, line 1)

In [2]:
import pandas as pd
df = pd.read_csv("./airbnb-property-listings/tabular_data/clean_tabular_data.csv")
df

,Unnamed: 0,ID,Category,Title,Description,Amenities,Location,guests,beds,bathrooms,...,Cleanliness_rating,Accuracy_rating,Communication_rating,Location_rating,Check-in_rating,Value_rating,amenities_count,url,bedrooms,Unnamed: 19
0,0,f9dcbd09-32ac-41d9-a0b1-fdb2793378cf,Treehouses,Red Kite Tree Tent - Ynys Affalon,"['About this space', ""Escape to one of these t...","['What this place offers', 'Bathroom', 'Shampo...",Llandrindod Wells United Kingdom,2,1.0,1.0,...,4.6,4.7,4.3,5.0,4.3,4.3,13.0,https://www.airbnb.co.uk/rooms/26620994?adults...,NaN,NaN
1,1,1b4736a7-e73e-45bc-a9b5-d3e7fcf652fd,Treehouses,Az Alom Cabin - Treehouse Tree to Nature Cabin,"['About this space', ""Come and spend a romanti...","['What this place offers', 'Bedroom and laundr...",Guyonvelle Grand Est France,3,3.0,0.0,...,4.3,4.7,4.6,4.9,4.7,4.5,8.0,https://www.airbnb.co.uk/rooms/27055498?adults...,1,NaN
2,2,d577bc30-2222-4bef-a35e-a9825642aec4,Treehouses,Cabane Entre Les Pins\nüå≤üèïÔ∏èüå≤,"['About this space', 'Rustic cabin between the...","['What this place offers', 'Scenic views', 'Ga...",Duclair Normandie France,4,2.0,1.5,...,4.2,4.6,4.8,4.8,4.8,4.7,51.0,https://www.airbnb.co.uk/rooms/51427108?adults...,1,NaN
3,3,ca9cbfd4-7798-4e8d-8c17-d5a64fba0abc,Treehouses,Tree Top Cabin with log burner & private hot tub,"['About this space', 'The Tree top cabin is si...","['What this place offers', 'Bathroom', 'Hot wa...",Barmouth Wales United Kingdom,2,NaN,1.0,...,4.8,4.9,4.9,4.9,5.0,4.6,23.0,https://www.airbnb.co.uk/rooms/49543851?adults...,NaN,NaN
4,4,8b2d0f78-16d8-4559-8692-62ebce2a1302,Treehouses,Hanging cabin,"['About this space', 'Feel refreshed at this u...","['What this place offers', 'Heating and coolin...",Wargnies-le-Petit Hauts-de-France France,2,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5.0,https://www.airbnb.co.uk/rooms/50166553?adults...,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
983,983,4fea5054-f999-4c07-addc-67e4d893deab,Beachfront,Apartment,"['About this space', 'Light roomy space with o...","['What this place offers', 'Bathroom', 'Hair d...",Brighton and Hove England United Kingdom,2,1.0,1.0,...,4.8,5.0,4.9,4.9,5.0,4.9,54.0,https://www.airbnb.co.uk/rooms/48565992?adults...,1,NaN
984,984,282118e2-049e-4d9f-b2f2-b47477881b07,Beachfront,Sea front flat with a stunning view!,"['About this space', 'This specious two bedroo...","['What this place offers', 'Scenic views', 'Be...",East Sussex England United Kingdom,4,2.0,1.5,...,4.8,5.0,5.0,5.0,5.0,4.8,38.0,https://www.airbnb.co.uk/rooms/49742544?adults...,2,NaN
985,985,9ebf9cec-624e-480e-8704-dffa7cb1fe51,Beachfront,MP713 - Camber Sands Holiday Park - Sleeps 6 +...,"['About this space', 'With all the modern amen...","['What this place offers', 'Bathroom', 'Hot wa...",Camber England United Kingdom,6,3.0,2.0,...,4.7,4.8,5.0,5.0,5.0,4.7,24.0,https://www.airbnb.co.uk/rooms/47777462?adults...,2,NaN
986,986,de8a45c7-0a1e-48ed-916d-6d1ad8d9f771,Beachfront,Unspoilt Sea View Family Beach House,"['About this space', 'Sleeps 10. A large Beach...","['What this place offers', 'Scenic views', 'Be...",Pevensey Bay England United Kingdom,10,7.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,41.0,https://www.airbnb.co.uk/rooms/46632639?adults...,5,NaN
987,987,d2b06c80-c643-485d-a24b-15d0811a3166,Beachfront,"Sea Scene's , Hayling Island","['About this space', 'Sea Scenes is a homely t...","['What this place offers', 'Bathroom', 'Hair d...",Hayling Island Hampshire United Kingdom,4,2.0,1.0,...,4.9,4.9,4.9,4.9,4.9,4.3,29.0,https://www.airbnb.co.uk/rooms/32377446?adults...,2,NaN

In [7]:
df[['guests', 'beds', 'bathrooms', 'bedrooms']] = df[['guests', 'beds', 'bathrooms', 'bedrooms']].fillna(value=1)
df.isna().sum()

Unnamed: 0                0
ID                        0
Category                  0
Title                     0
Description              88
Amenities                 0
Location                  0
guests                    0
beds                      0
bathrooms                 0
Price_Night               0
Cleanliness_rating       98
Accuracy_rating          98
Communication_rating     98
Location_rating          98
Check-in_rating          98
Value_rating             98
amenities_count           0
url                       0
bedrooms                  0
Unnamed: 19             987
dtype: int64

In [13]:
df.info('dict')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 988 entries, 0 to 987
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            988 non-null    int64
 1   ID                    988 non-null    object
 2   Category              988 non-null    object
 3   Title                 988 non-null    object
 4   Description           900 non-null    object
 5   Amenities             988 non-null    object
 6   Location              988 non-null    object
 7   guests                988 non-null    object
 8   beds                  988 non-null    float64
 9   bathrooms             988 non-null    float64
 10  Price_Night           988 non-null    int64
 11  Cleanliness_rating    890 non-null    float64
 12  Accuracy_rating       890 non-null    float64
 13  Communication_rating  890 non-null    float64
 14  Location_rating       890 non-null    float64
 15  Check-in_rating       890 non-null    float64
 16  Value_rating          890 non-null    float64
 17  amenities_count       988 non-null    float64
 18  url                   988 non-null    object
 19  bedrooms              988 non-null    object
 20  Unnamed: 19           1 non-null      float64
dtypes: float64(10), int64(2), object(9)
memory usage: 162.2+ KB

In [14]:
df.select_dtypes(include='number')

,Unnamed: 0,beds,bathrooms,Price_Night,Cleanliness_rating,Accuracy_rating,Communication_rating,Location_rating,Check-in_rating,Value_rating,amenities_count,Unnamed: 19
0,0,1.0,1.0,105,4.6,4.7,4.3,5.0,4.3,4.3,13.0,NaN
1,1,3.0,0.0,92,4.3,4.7,4.6,4.9,4.7,4.5,8.0,NaN
2,2,2.0,1.5,52,4.2,4.6,4.8,4.8,4.8,4.7,51.0,NaN
3,3,1.0,1.0,132,4.8,4.9,4.9,4.9,5.0,4.6,23.0,NaN
4,4,1.0,1.0,111,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
983,983,1.0,1.0,78,4.8,5.0,4.9,4.9,5.0,4.9,54.0,NaN
984,984,2.0,1.5,113,4.8,5.0,5.0,5.0,5.0,4.8,38.0,NaN
985,985,3.0,2.0,80,4.7,4.8,5.0,5.0,5.0,4.7,24.0,NaN
986,986,7.0,5.0,426,NaN,NaN,NaN,NaN,NaN,NaN,41.0,NaN
987,987,2.0,1.0,104,4.9,4.9,4.9,4.9,4.9,4.3,29.0,NaN

In [17]:
rating_columns = ['Cleanliness_rating', 'Accuracy_rating', 'Communication_rating', 'Location_rating', 'Check-in_rating', 'Value_rating']
df[rating_columns].isna()

,Cleanliness_rating,Accuracy_rating,Communication_rating,Location_rating,Check-in_rating,Value_rating
0,False,False,False,False,False,False
1,False,False,False,False,False,False
2,False,False,False,False,False,False
3,False,False,False,False,False,False
4,True,True,True,True,True,True
...,...,...,...,...,...,...
983,False,False,False,False,False,False
984,False,False,False,False,False,False
985,False,False,False,False,False,False
986,True,True,True,True,True,True
987,False,False,False,False,False,False

In [ ]:
df.drop(labels=)

In [1]:
import pandas as pd
df = pd.read_csv("./airbnb-property-listings/tabular_data/clean_tabular_data.csv")

def combine_description_strings(df):
        df['Description'] = df['Description'].str.replace("'About this space', ", '')
        df['Description'] = df['Description'].str.replace(" 'The space', 'The space\n", '')
        df['Description'] = df['Description'].str.replace(r'\n\n', ' ')
        df['Description'] = df['Description'].str.replace(r'\n', ' ')
        df['Description'] = df['Description'].replace("''", "")
        return df

In [3]:
df['Description'][0]

'["Escape to one of these two fabulous Tree Tents. Suspended high above the canopy, it‚Äôs time to appreciate life from a new perspective. Featured on George Clarke‚Äôs Amazing Spaces, these Tree Tents are a feat of aviation technology. Tree Tent comes complete with fire pit, outdoor kitchen and shower with hot water. You‚Äôll discover a comfortable bed and cosy wood burning stove. Part of the Red Kite Estate, along with our barn and its sister tree tent, the first ever built in the UK, Dragon\'s Egg.", \'The space\', \'The space The true joy of this place is how wonderfully simple it is (aviation technology aside). Days are filled with fireside discussions, wildlife watching and stunningly beautiful walks. With the nearest mobile signal a ten minute walk away, it‚Äôs a great place to ditch the digital and truly escape. Head over the bridge to your own private deck that happily houses a clever outdoor-kitchen and shower (complete with hot water). It‚Äôs the perfect spot to fry up breakfast whilst basking in peace and tranquility. There is also a flushing toilet situated just up the hill.And don‚Äôt worry, you‚Äôre not totally left to your own devices, on arrival you can expect bed linen, towels and a load of dry wood and kindling. If you feel the need to leave your new found homestead in the trees then the local area has lots of suitably chilled things to do. Head out on a moorland walk to take in some magical views - and perhaps even grab a pint at the local pub en route. Further afield, the stunning Elan Valley, a landscape bursting with impressive dams and reservoirs, is well worthy of an explore. And for those needing supplies - and perhaps a flat white - then the friendly market town of Builth Wells is just down the road.\', \'\', \'\', \'\', \'Other things to note You are entering a remote woodland hideaway for a digital detox: there is very patchy mobile signal and limited internet connectivity.\']'

In [4]:
import pandas as pd
df = pd.read_csv("./airbnb-property-listings/tabular_data/clean_tabular_data.csv")

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 890 entries, 0 to 889
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            890 non-null    int64
 1   ID                    890 non-null    object
 2   Category              890 non-null    object
 3   Title                 890 non-null    object
 4   Description           830 non-null    object
 5   Amenities             890 non-null    object
 6   Location              890 non-null    object
 7   guests                890 non-null    object
 8   beds                  890 non-null    float64
 9   bathrooms             890 non-null    float64
 10  Price_Night           890 non-null    int64
 11  Cleanliness_rating    890 non-null    float64
 12  Accuracy_rating       890 non-null    float64
 13  Communication_rating  890 non-null    float64
 14  Location_rating       890 non-null    float64
 15  Check-in_rating       890 non-null    float64
 16  Value_rating          890 non-null    float64
 17  amenities_count       890 non-null    float64
 18  url                   890 non-null    object
 19  bedrooms              890 non-null    object
 20  Unnamed: 19           1 non-null      float64
dtypes: float64(10), int64(2), object(9)
memory usage: 146.1+ KB